/*****HEADER PANEL STYLES*****/
#header-panel{
	position: absolute;
	margin: 20px;
    text-align: center;
    width: 100%;
}
#vwm-title{
	font-family: 'Roboto Mono', monospace;
	font-size: 35px;
	letter-spacing: 6px;
}
#pulloutquote{
	display: block;
	margin-right: auto;
    margin-left: auto;    
	font-family: Georgia;
	font-size: 24px;
	color: #000000;
	width: 75%;
}


/*****CANVAS CONTAINER STYLES*****/
#view-container{
    position: relative;
}

canvas{
	z-index: -1;
    position: relative;
}



/*****OPTION PANEL STYLES*****/
#options-panel{
	text-align: center;
	/*height: 200px;*/
	background: #F5F5F5;
	box-shadow: -2px 0 10px 0 rgba(0,0,0,0.50);
	padding: 20px;
    margin-top: -5px;
}

.option-button{
	height: 150px;
	width: 150px;
    border-radius: 50%;
    border: none;
	margin: 0 20px;
}

