.tooltip{
	position: absolute;
}

rect{
	cursor: pointer;
	stroke-width: 2;
}

rect.disabled{
	fill: transparent !important;
}

#lissajPassGraph{
	width: 960;
	height: 500;
}

#container{
	width: 80%;
	margin: 0 auto;
	background-color: #EEEEEE;
}

#nbackPassContainer{
	padding: 40px 0;
}
#nbackPassGraphs{
	text-align: center;
}
.nbackPassGraph{
	width: 15vw;
	height: 15vw;
	display: inline-block;
	/*background-color: red;*/
}

#testTimeAveContainer{
	padding: 40px 0;
}
#testTimeAveGraph{
	width: 25vw;
	height: 25vw;
	margin: 0 auto;
	/*background-color: blue;*/
}

#lissajPassContainer{
	padding: 40px 0;
}
#lissajPassGraph{
	width: 70vw;
	height: 20vw;
	margin: 0 auto;
	/*background-color: green;*/
}