/*****GLOBAL STYLES*****/

body{
	margin: 0;
}

h2{
	font-family: OpenSans-Regular;
	font-size: 25px;
	color: #000000;
	letter-spacing: 3px;
	font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

h3{
	font-family: OpenSans-Regular;
	font-size: 18px;
	color: #000000;
	letter-spacing: 3px;
	font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

p{
	font-family: Georgia;
	font-size: 16	px;
	color: #000000;
	margin: 10px;
}


/*****TOP NAV STYLES*****/

#top-nav{
	background-color: #384040;
 	padding: 20px;
 	text-align: center;
 	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
}

#vwm-logoimg{
	vertical-align: middle;
	height: 60px;
}

#vwm-logo, .top-nav-link{
	color: #FFFFFF;
	letter-spacing: 2px;
	text-decoration: none;
	margin: 0 40px;
}

.top-nav-link{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

/*****TARGET PANEL STYLES*****/
#target-panel{
	position: absolute;
	margin: 20px;
    text-align: center;
}

/*****PROGRESS PANEL STYLES*****/
#progress-panel{
	position: absolute;
	margin: 20px;
    text-align: center;
    bottom: 0px;
    width: 200px;
}
.progress-circles{
	display: inline-block;
	width: 20px;
	height: 20px;
}
.progress-circles circle{
	fill: #FFFFFF;
	stroke: #979797;
}
#active-progress-circle{
	fill: red;
}

/*****CANVAS CONTAINER STYLES*****/
#view-container{
    position: relative;
}

canvas{
	z-index: -1;
    position: relative;
}



/*****OPTION PANEL STYLES*****/
#options-panel{
	text-align: center;
	/*height: 200px;*/
	background: #F5F5F5;
	box-shadow: -2px 0 10px 0 rgba(0,0,0,0.50);
	padding: 20px;
    margin-top: -5px;
}

.option-button{
	height: 150px;
	width: 150px;
    border-radius: 50%;
    border: none;
	margin: 0 20px;
}

