/*****GLOBAL STYLES*****/

body{
	margin: 0;
}

h1{
	color: #384040;
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	color: #384040;
	letter-spacing: 3px;
	font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #384040;
	letter-spacing: 3px;
	font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

p{
	font-family: Georgia;
	font-size: 16px;
	color: #384040;
	margin: 10px;
}
