/*****TOP NAV STYLES*****/
#top-nav{
 	padding: 20px;
 	position: absolute;
    z-index: 1;
    width: 100%;
}
#vwm-logo, #vwm-logoimg{
	height: 60px;
	display: inline-block;
}

#progress-panel{
	text-align: center;
	display: inline-block;
	width: calc(100% - 80px);
	top: 50%;
    transform: translateY(-50%);
}
#progress-header{
	display: inline-block;
	margin-right: 10px;
}
#progressbar-container{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
	background-color: #FFFFFF;
	border: 1px solid #979797;
}
#progressbar{
    width: 0%;
    height: 20px;
    background-color: #FFA0B6;
}
#progress-stagetext{
	display: inline-block;
}
#progress-trialcount{
	font-weight: bold;
}


/*****TARGET PANEL STYLES*****/
#target-panel{
	position: absolute;
	margin: 20px;
    text-align: center;
    width: 250px;
    top: 50%;
    transform: translateY(-60%);
}


/*****CANVAS CONTAINER STYLES*****/
#view-container{
    position: relative;
}

canvas{
	z-index: -1;
    position: relative;
}


/*****OPTION PANEL STYLES*****/
#options-panel{
	background: #F5F5F5;
	box-shadow: -2px 0 10px 0 rgba(0,0,0,0.50);
	padding: 20px;
    margin-top: -5px;
}
#options-textcontainer{
	text-align: center;
	/*position: absolute;*/
	display: inline-block;
	max-width: 250px;
	margin-top: 30px;
}
#options-buttoncontainer{
	text-align: center;
	display: inline-block;
	width: calc(100% - 270px);
}
.option-button, #continue-button{
	height: 150px;
	width: 150px;
    border-radius: 50%;
    border: none;
	margin: 0 20px;
}
#continue-button{
	display: none;		
}
#continue-button > p{
	display: inline-block;
}
