.tooltip{
	display: none;
	position: absolute;
	background-color: lightgray;
	padding: 10px;
	border-radius: 10px;
	font-family: sans-serif;
	line-height: 1.5em;
	font-size: 12px;
}
#tooltip .label{
	font-weight: bold;
}

rect{
	cursor: pointer;
	stroke-width: 2;
}

rect.disabled{
	fill: transparent !important;
}

body{
	background-color: #F5F5F5;
}

/*****TOP NAV STYLES*****/

#top-nav{
	background-color: #384040;
 	padding: 20px;
 	text-align: center;
 	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
}

#vwm-logoimg{
	vertical-align: middle;
	height: 60px;
}

#vwm-logo, .top-nav-link{
	color: #FFFFFF;
	letter-spacing: 2px;
	text-decoration: none;
	margin: 0 40px;
}

.top-nav-link{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}


/*****HEADER STYLES*****/

header{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#vwm-title{
	font-family: 'Roboto Mono', monospace;
	font-size: 35px;
	letter-spacing: 6px;
	text-transform: uppercase;
}

#header-content{
	height: 50px;
	margin: 20px 0;
}
#header-content p{
	display: inline-block;
	float: left;
}

#download-button{
	float: right;
	display: block;
	border: none;
	background: none;
}
#download-button:hover{
	cursor: pointer;
}

#lissajPassGraph{
	width: 960;
	height: 500;
}

/*****GRAPH CONTAINER STYLES*****/

#container{
	width: 80%;
	margin: 0 auto;
	background-color: #EEEEEE;
	text-align: center;
}
.graphContainer{
	padding: 30px 0;
}
.graphContainer h2{
	font-size: 20px;
	margin-bottom: 30px;
}

.nbackPassGraph{
	width: 15vw;
	height: 15vw;
	display: inline-block;
	/*background-color: red;*/
	margin: 0 20px;
}
.nbackPassGraph h3{
	margin-bottom: 20px;
	font-size: 14px;
}

#testTimeAveGraph{
	width: 25vw;
	height: 25vw;
	margin: 0 auto;
	/*background-color: blue;*/
}

#lissajPassGraph{
	width: 70vw;
	height: 20vw;
	margin: 0 auto;
	/*background-color: green;*/
}